.section_container {
  max-width: 120rem;

  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 9.6rem;

  display: flex;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.2rem;
  column-gap: 2.8rem;

  @media (max-width: 107.8rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 76.8rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 48rem) {
    grid-template-columns: repeat(1, 1fr);
  }
}
