.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5.6rem;

  z-index: 500;

  position: fixed;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;
}

.header__title {
  color: #be7539;
}
